# ---- Qwen-VL utilities ----
qwen-vl-utils[decord]==0.0.14

accelerate
transformers==5.2.0
datasets
google-genai
gradio
huggingface_hub
langchain-core
langchain-openai
matplotlib
networkx
numpy
omegaconf
openai
pandas
Pillow
plotly
py360convert
PyYAML
requests
tqdm
opencv-python
safetensors
sentencepiece
einops
timm
